.movie-rate-edit-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .back-icon,
  .mypage-icon {
    width: 24px; /* 아이콘 크기 */
    height: 24px;
  }
  
  .header-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto; /* 가운데 정렬 */
    text-align: center;
  }
  
  
  .edit-complete-button {
    border: none;
    background-color: #d04040;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .edit-complete-button:hover {
    background-color: #b03030;
  }
  
  /* 영화 리스트 레이아웃 */
  .movie-list {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 레이아웃 */
    gap: 16px;
    padding: 16px;
    overflow-y: auto;
  }
  
  .movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-poster {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .movie-list button {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    color: #333;
    cursor: pointer;
  }
  
  .movie-list button:hover {
    border-color: #d04040;
    color: #d04040;
  }

  .movie-genre{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 0px 30px;
  }
  
  .my-movie-edit-button {
    padding: 10px 20px;
    background-color: var(--main-red);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position : absolute;
    font-size: 24px;
    font-weight: bold;
    right: 0;
    margin: 20px;
  }

  .movie-genre a {
    font-weight: bold;
    font-size: 24px;
  }

  .movie-genre-switch{
    color: var(--grey);
    text-decoration: none;
    margin-left: 5px;
  }